#head{
  text-align : center;
}
#event{

  margin-left: 100px;
  margin-right: 100px;
}
#img{
  float:left;
  margin-left:50px;
  margin-right: 40px;
}
#event2{
  clear:both;
  margin-left: 100px;
  margin-right: 100px;
}
#event3{
  clear:both;
  margin-left: 100px;
  margin-right: 100px;
}
#container{
  clear:both;
  text-align:center;
  margin-left:100px;
}
