.join {
    margin: 40px 0px;
    text-align: center;
}

.join h2 {
    font-size: 60px;
    color: powderblue;
    margin: 20px auto;
}

.join label {
    font-size: 30px;
}

.join #ID {
    transform: translateX(4%);
}

.join #submit {
    margin-top: 10px;
    background-color: powderblue;
    border-radius: 5px;
    border: solid 1px powderblue;
}