
#main {
    position: relative;
    height: 800px;
    overflow: hidden !important;
    z-index: -1;
}

#main img {
    position: relative;
    width: 100%;
    z-index: -1;
}


.title {
    margin-left: 90px;
    margin-top: 30px;
    font-size: 40pt;
    color: rgb(128, 146, 199);
}

@media screen and (max-width: 1000px) {
    #main {
        height: 400px;
    }

}
.img{
  margin-bottom: 30px;
  overflow: hidden;
  width:100%;
  height:auto;
}
#footer{
   background-color:rgb(128, 146, 199);
   font-size:30px;
   padding:40px;
   text-align:center;
 }
