#profile {
    height: 800px;
    overflow: hidden;
    z-index: 1;
}

.title {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 50px;
    color: rgb(128, 146, 199);
}

@media screen and (max-width: 1000px) {
    #profile {
        height: 400px;
    }

}
